body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #d9d6d6;
    font-size: 30px;
}

#time
{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    alignment: left;
}

#countdown, #hold_btn, #altitude, #speed {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    text-align: right;
}

#countdown_set {
    text-align: right;
}
#countdown_in {
    /*margin-top: 30px;*/
    /*margin-left: 30px;*/
}
